:root {
  --black: #000000;
  --white: #ffffff;
  --manju-black: #231f20;
  --manju-grey: #bcbec0;
}

body {
  font-family: url(--bs-font-sans-serif), "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--manju-black);
  background-color: var(--white);
  margin: 0;
}

.bold,
b,
strong {
  font-weight: 700;
}

.page-header {
  position: fixed;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  left: 0;
  top: 0;
  z-index: 2;
}

.logo-div {
  position: relative;
  top: 0;
  left: 0;
  height: inherit;
  background-color: var(--manju-black);
}

.logo-div img {
  height: inherit;
}

.nav-container {
  position: relative;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: inherit;
  width: inherit;
  /* This hides the fonted title */
  background-color: var(--manju-black);
}

.title-bar {
  position: relative;
  text-align: center;
  width: inherit;
  top: 50%;
  margin-top: -50px;
  color: var(--manju-black);
  word-spacing: 2em;
}

.nav-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: var(--manju-black);
}

.nav-bar .nav-item {
  float: left;
  color: var(--white);
  padding: 10px;
  text-align: center;
}

.nav-bar .nav-item a {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  top: 50%;
  margin-top: -5px; /* half of parent padding */
}

.nav-bar .nav-item:hover {
  color: var(--manju-grey);
}

section {
  position: relative;
  padding-top: 20vh;
  min-height: 80vh;
  z-index: 1;
}

.section-title {
  background: url("./title-background.svg") center;
  background-repeat: repeat-x;
  text-align: center;
  font-family: GothamBook;
  margin: auto;
  width: 80%;
}

.section-title h2 {
  display: inline-block;
  height: 100%;
  line-height: 90px;
  background-color: white;
  padding: 0px 10px;
  text-align: center;
}

.page-footer {
  position: relative;
  background-image: url(./assets/pattern-down.jpg);
  background-size: 70vh;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

.carousel-inner {
  background-color: var(--manju-black);
}

.carousel-inner .carousel-item img {
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 80%;
  margin: auto;
  text-indent: 5em;
  padding: 10px;
}

ol, ul {
  text-indent: 1em;
  width: 70%;
  margin: auto;
}

.email,
.phone {
  margin: 0;
  height: 80px;
}

.contact .contact-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  padding-bottom: 30px;
}

.contact .contact-container address {
  width: 80%;
  margin: auto;
}

.contact .contact-container .email-and-phone {
  display: flex;
  flex-direction: column;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  section {
    padding-top: 20vh;
    height: fit-content;
    /* min-height: 80vh; */
  }

  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar {
  padding: 0;
  height: inherit;
  width: 100%;
  background-color: var(--manju-black);
}

.logo-div {
  height: inherit;
}

.container-fluid {
  background-color: var(--manju-black);
}

.navbar-toggler {
  margin: 10px;
}

.profile-container {
  align-content: center;
  text-align: center;
}

.profile-card {
  padding: 2%;
}

.profile-name {
  font-size: 1.25em;
}

.profile-phone {
  font-style: italic;
  font-size: smaller;
}

.profile-email {
  text-decoration: underline;
  font-size: smaller;
}